HH_REDIRECT_URI=http://localhost:8080/auth/callback
HH_CLIENT_ID=
HH_CLIENT_SECRET=
HH_APP_TOKEN=
OPENAI_API_KEY=
DEEPSEEK_API_KEY=
DEEPSEEK_API_URL=https://api.deepseek.com/chat/completions
TELEGRAM_BOT_TOKEN=
